body {
  background-color: rgb(238, 247, 255);
}

img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  line-height: 200px;
  border-radius: 10px;
}

#page-header {
  margin-top: 5rem;
}

/* ARTICLES VIEW */
.article-box {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.article-image {
  text-align: center;
}

.article {
  background-color: rgba(240, 248, 255, 0.76);
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
}

.comment-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.comments {
  padding: 1rem;
  /* background-color: rgba(169, 186, 223, 0.486); */
  width: 100%;
}

.comment {
  padding: 0.3rem;
  border-bottom: 1px solid black;
}

.comment p {
  padding: 1rem 0;
  margin: 0;
}

.form-control {
  height: 3rem !important;
  width: 50%;
}

.form-btn {
  height: 3rem;
  width: 20%;
}

/* ICONS */

.fas,
.far {
  padding: 0 0.8rem;
  margin-left: -1rem;
}
