body {
  background-color: #92b4f4;
}

img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  line-height: 200px;
  border-radius: 10px;
}

#page-header {
  color: #0a369d;
  margin-top: 6rem;
}

a {
  color: rgb(245, 245, 245);
  transition: 0.5s all;
}

a:hover {
  color: rgb(107, 235, 107);
  text-decoration: none;
}

/* NAV */

.navbar-light {
  background-color: #0a369d !important;
  color: #cfdee7;
}

.nav-link {
  color: #cfdee7 !important;
}

/* ARTICLES VIEW */
.article-box {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.article-image {
  text-align: center;
}

.article {
  background-color: #5e7ce2;
  color: rgb(245, 245, 245);
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
}

.comment-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.comments {
  padding: 1rem;
  /* background-color: rgba(169, 186, 223, 0.486); */
  width: 100%;
}

.comment {
  padding: 0.3rem;
  border-bottom: 1px solid black;
}

.comment p {
  padding: 1rem 0;
  margin: 0;
}

.form-control {
  height: 3rem !important;
  width: 50%;
  background-color: rgb(245, 245, 245);
}

.form-btn {
  height: 3rem;
  width: 20%;
  background-color: rgb(245, 245, 245);
}

/* ICONS */

.fas,
.far {
  padding: 0 0.8rem;
  margin-left: -1rem;
}
